<plugin name="{{pluginName}}" version="{{version}}" grailsVersion="2.1 &gt; *">
  <author>{{author}}</author>
  <authorEmail>{{email}}</authorEmail>
  <title>{{title}}</title>
  <description>{{description}}</description>
  <documentation>http://buildserver.jcatalog.com/generated-docs/$groupId/{{artefactId}}/$version/
  </documentation>
  <type>{{pluginPrefix}}GrailsPlugin</type>
  <resources>
    <resource>{{pluginPrefix}}Resources</resource>
  </resources>
</plugin>